*{
  margin: 0;
  padding: 0;
}
html, body {
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  font-size: 16px;
  background-color: #06080C;
  font-weight: normal;
  overflow:visible;
  padding-top: 1px;
}

#root {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}
main{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 97%;
  height: fit-content;
  gap: 12px;
}
.icon {
  width: 48px;
  height: 48px;
  will-change: filter;
  transition: filter 300ms;
}
.score{
  font-weight: 600;
  font-size: 20px;
}
.match-status{
  display: inline-block;
  width: 92px;
  height: 27px;
  border-radius: 4px;
  background-color: green;
  color: white;
  text-align: center;
}
.command-name{
  display: inline;
}
.header__team-icon{
  display: inline-flex;
  gap:10px;
  height: 48px;
  align-items: center;
}
.header, .container__team{
  width: 99%;
}
.container{
  width: 95%;
}
.scorebar{
  display: flex;
  height: 55px;
  align-items: center;
}
.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 98%;
  height: 80px;
  overflow: hidden;
  gap:10px;
  background-color: #0B0E12;
  transition: height 0.5s ease-in-out;
}
.container__team{
  display: flex;
  justify-content: space-around;
  box-sizing: border-box;
  padding: 12px;
  gap: 32px;
}
.player-container{
  display: flex;
  justify-content: space-between;
  gap: 7px;
}
.container__opener{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 28px;
  height: 28px;
}

.arrow{
  width: 15px;
  height: 9px;
  transform: rotate(180deg);
  transition: 0.5s;
}
.header {
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px;
}
.header__wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 97%;
}
.team{
  width: 874px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap:7px;
}
.player{
  box-sizing: border-box;
  padding: 5px;
  width: 33%;
  padding: 15px;
}
.player, .stat-info{
  height: 52px;
  background-color: #101318;
  display: flex;
  justify-content: space-between;
  gap:5px;
}
.player p{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap:5px;
  flex-wrap: nowrap;
}
.player p img{
  width: 36px;
  height: 36px;
}
.stat-info{
  align-items: center;
  justify-content: space-around;
}
.scorebar{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 92px;
  height: 55px;
  gap: 4px;
}
.open{
  height: 235px;
}
.turning{
  transform: rotate(360deg);
}
.Finished{
  background-color: red;
}
.Ongoing{
  background-color: yellowgreen;
  color:white;
}
.Scheduled{
  background-color: lightblue;
  color:gray;
}